/.project
/.settings

/gulubala-base/.settings
/gulubala-base/target
/gulubala-base/.classpath
/gulubala-base/.project

/gulubala-client/.settings
/gulubala-client/target
/gulubala-client/.classpath
/gulubala-client/.project

/gulubala-common/.settings
/gulubala-common/target
/gulubala-common/.classpath
/gulubala-common/.project

/gulubala-iface/.settings
/gulubala-iface/target
/gulubala-iface/.classpath
/gulubala-iface/.project

/gulubala-service/.settings
/gulubala-service/target
/gulubala-service/.classpath
/gulubala-service/.project