<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="dialect" value="MYSQL"/>
    </properties>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25000"/>
    </settings>
    <typeAliases>
    	<typeAlias alias="AppAuth" type="com.penglecode.gulubala.common.support.AppAuth"/>
    	
        <typeAlias alias="User" type="com.penglecode.gulubala.common.model.User"/>
        <typeAlias alias="UserLog" type="com.penglecode.gulubala.common.model.UserLog"/>
        <typeAlias alias="UserFollow" type="com.penglecode.gulubala.common.model.UserFollow"/>
        <typeAlias alias="UserMessage" type="com.penglecode.gulubala.common.model.UserMessage"/>
        
        <typeAlias alias="MediaCategory" type="com.penglecode.gulubala.common.model.MediaCategory"/>
        <typeAlias alias="Singer" type="com.penglecode.gulubala.common.model.Singer"/>
        <typeAlias alias="MusicAlbum" type="com.penglecode.gulubala.common.model.MusicAlbum"/>
        <typeAlias alias="MusicAlbumItem" type="com.penglecode.gulubala.common.model.MusicAlbumItem"/>
        <typeAlias alias="Music" type="com.penglecode.gulubala.common.model.Music"/>
        <typeAlias alias="MusicList" type="com.penglecode.gulubala.common.model.MusicList"/>
        <typeAlias alias="MusicDanmu" type="com.penglecode.gulubala.common.model.MusicDanmu"/>
        <typeAlias alias="MusicFavorite" type="com.penglecode.gulubala.common.model.MusicFavorite"/>
        <typeAlias alias="MusicComment" type="com.penglecode.gulubala.common.model.MusicComment"/>
        <typeAlias alias="MusicPlayHistory" type="com.penglecode.gulubala.common.model.MusicPlayHistory"/>
        <typeAlias alias="MusicRecommend" type="com.penglecode.gulubala.common.model.MusicRecommend"/>
        
        <typeAlias alias="SlideAdv" type="com.penglecode.gulubala.common.model.SlideAdv"/>
        <typeAlias alias="Notice" type="com.penglecode.gulubala.common.model.Notice"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.penglecode.gulubala.common.mybatis.PaginationInterceptor"/>
    </plugins>
    <mappers>
    	<mapper resource="mybatis/mapper/AppAuthMapper.xml"/>
    
    	<mapper resource="mybatis/mapper/UserMapper.xml"/>
    	<mapper resource="mybatis/mapper/UserLogMapper.xml"/>
    	<mapper resource="mybatis/mapper/UserFollowMapper.xml"/>
    	<mapper resource="mybatis/mapper/UserMessageMapper.xml"/>
    	
    	<mapper resource="mybatis/mapper/MediaCategoryMapper.xml"/>
    	<mapper resource="mybatis/mapper/SingerMapper.xml"/>
    	<mapper resource="mybatis/mapper/MusicMapper.xml"/>
    	<mapper resource="mybatis/mapper/MusicAlbumMapper.xml"/>
    	<mapper resource="mybatis/mapper/MusicListMapper.xml"/>
    	<mapper resource="mybatis/mapper/MusicDanmuMapper.xml"/>
    	<mapper resource="mybatis/mapper/MusicFavoriteMapper.xml"/>
    	<mapper resource="mybatis/mapper/MusicCommentMapper.xml"/>
    	<mapper resource="mybatis/mapper/MusicPlayHistoryMapper.xml"/>
    	<mapper resource="mybatis/mapper/MusicRecommendMapper.xml"/>
    	
    	<mapper resource="mybatis/mapper/SlideAdvMapper.xml"/>
    	<mapper resource="mybatis/mapper/NoticeMapper.xml"/>
    </mappers>
</configuration>