<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penglecode.gulubala.common.model.MusicFavoriteMapper">
	
	<insert id="insertMusicFavorite" parameterType="MusicFavorite" statementType="PREPARED" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO favorites(
			id,
			userId,
			favoriteType,
			favoriteId,
			data,
			createdAt
		) VALUES (
			#{id, jdbcType=BIGINT},
			#{userId, jdbcType=BIGINT},
			#{favoriteType, jdbcType=INTEGER},
			#{favoriteId, jdbcType=BIGINT},
			#{data, jdbcType=VARCHAR},
			#{createTime, jdbcType=VARCHAR}
		)
	</insert>
	
	<delete id="deleteMusicFavoriteById" parameterType="java.lang.Long" statementType="PREPARED">
		DELETE a FROM favorites a WHERE a.id = #{id, jdbcType=BIGINT}
	</delete>
	
	<select id="getMusicFavoritesByUserId" parameterType="java.util.Map" statementType="PREPARED" resultType="MusicFavorite">
		SELECT a.id 				id,
			   a.userId				userId,
			   u.nickname 			nickName,
			   a.favoriteType		favoriteType,
			   a.favoriteId			favoriteId,
			   a.data				data,
			   DATE_FORMAT(a.createdAt, '%Y-%m-%d %T')	createTime,
			   b.name 				favoriteName,
			<if test="favoriteType == musicFavoriteType">
			   b.smallPicUrl		favoriteImgUrl
			</if>
			<if test="favoriteType == musicListFavoriteType">
			   b.pictureUrl			favoriteImgUrl
			</if>
		  FROM favorites a LEFT JOIN users u ON(a.userId = u.id)
		<if test="favoriteType == musicFavoriteType">
			,songs b
		</if>
		<if test="favoriteType == musicListFavoriteType">
			,songlists b
		</if>
		 WHERE a.userId = #{userId, jdbcType=BIGINT}
		   AND a.favoriteId = b.id
		   AND a.favoriteType = #{favoriteType, jdbcType=INTEGER}
		 ORDER BY a.createdAt DESC
	</select>
	
	<select id="getMusicFavoritesByUserId_count" parameterType="java.util.Map" statementType="PREPARED" resultType="java.lang.Integer">
		SELECT COUNT(1)
		  FROM favorites a
		<if test="favoriteType == musicFavoriteType">
			,songs b
		</if>
		<if test="favoriteType == musicListFavoriteType">
			,songlists b
		</if>
		 WHERE a.userId = #{userId, jdbcType=BIGINT}
		   AND a.favoriteId = b.id
		   AND a.favoriteType = #{favoriteType, jdbcType=INTEGER}
	</select>
	
</mapper>