<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penglecode.gulubala.common.model.MusicCommentMapper">
	
	<insert id="insertMusicComment" parameterType="MusicComment" statementType="PREPARED" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO songcomments(
			id,
			parentId,
			userId,
			content,
			commentType,
			commentId,
			commentPraises,
			createdAt
		) VALUES (
			#{id, jdbcType=BIGINT},
			#{parentId, jdbcType=BIGINT},
			#{userId, jdbcType=BIGINT},
			#{content, jdbcType=VARCHAR},
			#{commentType, jdbcType=INTEGER},
			#{commentId, jdbcType=BIGINT},
			#{commentPraises, jdbcType=INTEGER},
			#{commentTime, jdbcType=VARCHAR}
		)
	</insert>
	
	<delete id="deleteMusicCommentById" parameterType="java.lang.Long" statementType="PREPARED">
		DELETE a FROM songcomments a WHERE a.id = #{id, jdbcType=BIGINT}
	</delete>
	
	<update id="incrMusicCommentPraises" parameterType="java.lang.Long" statementType="PREPARED">
		UPDATE songcomments a
		   SET a.commentPraises = a.commentPraises + 1
		 WHERE a.id = #{id, jdbcType=BIGINT}
	</update>
	
	<select id="getMusicCommentPraisesById" parameterType="java.lang.Long" statementType="PREPARED" resultType="java.lang.Integer">
		SELECT a.commentPraises		commentPraises
		  FROM songcomments a
		 WHERE a.id = #{id, jdbcType=BIGINT}
	</select>
	
	<select id="getMusicCommentId" parameterType="java.lang.Long" statementType="PREPARED" resultType="MusicComment">
		SELECT a.id 				id,
			   a.parentId			parentId,
			   a.userId				userId,
			   a.commentType		commentType,
			   a.commentId			commentId,
			   a.content			content,
			   a.commentPraises		commentPraises
		  FROM songcomments a
		 WHERE a.id = #{id, jdbcType=BIGINT}
	</select>
	
	<select id="getMusicCommentsByUserId" parameterType="java.util.Map" statementType="PREPARED" resultType="MusicComment">
		SELECT a.id 				id,
			   a.parentId			parentId,
			   a.userId				userId,
			   a.commentType		commentType,
			   a.commentId			commentId,
			   a.content			content,
			   a.commentPraises		commentPraises,
			   DATE_FORMAT(a.createdAt, '%Y-%m-%d %T')	commentTime,
			   b.name commentName
		  FROM songcomments a
		<if test="commentType == 0 or commentType == 1">
			,songs b
		</if>
		<if test="commentType == 2">
			,songlists b
		</if>
		 WHERE a.userId = #{userId, jdbcType=BIGINT}
		   AND a.commentId = b.id
		<if test="commentType == 0 or commentType == 1">
		   AND a.commentType = #{musicCommentType, jdbcType=INTEGER}
		   AND b.mv = #{commentType, jdbcType=INTEGER}
		</if>
		<if test="commentType == 2">
		   AND a.commentType = #{musicListCommentType, jdbcType=INTEGER}
		</if>
		 ORDER BY a.createdAt DESC
	</select>
	
	<select id="getMusicCommentsByUserId_count" parameterType="java.util.Map" statementType="PREPARED" resultType="java.lang.Integer">
		SELECT COUNT(1)
		  FROM songcomments a
		<if test="commentType == 0 or commentType == 1">
			,songs b
		</if>
		<if test="commentType == 2">
			,songlists b
		</if>
		 WHERE a.userId = #{userId, jdbcType=BIGINT}
		   AND a.commentId = b.id
		<if test="commentType == 0 or commentType == 1">
		   AND a.commentType = #{musicCommentType, jdbcType=INTEGER}
		   AND b.mv = #{commentType, jdbcType=INTEGER}
		</if>
		<if test="commentType == 2">
		   AND a.commentType = #{musicListCommentType, jdbcType=INTEGER}
		</if>
	</select>
	
	<select id="getMusicCommentsByCommentId" parameterType="java.util.Map" statementType="PREPARED" resultType="MusicComment">
		SELECT a.id 				id,
			   a.parentId			parentId,
			   a.userId				userId,
			   a.commentType		commentType,
			   a.commentId			commentId,
			   a.content			content,
			   a.commentPraises		commentPraises,
			   DATE_FORMAT(a.createdAt, '%Y-%m-%d %T')	commentTime
		  FROM songcomments a
		 WHERE a.commentType = #{commentType, jdbcType=INTEGER}
		   AND a.commentId = #{commentId, jdbcType=BIGINT}
		 ORDER BY a.createdAt DESC
	</select>
	
	<select id="getMusicCommentsByCommentId_count" parameterType="java.util.Map" statementType="PREPARED" resultType="java.lang.Integer">
		SELECT COUNT(1)
		  FROM songcomments a
		 WHERE a.commentType = #{commentType, jdbcType=INTEGER}
		   AND a.commentId = #{commentId, jdbcType=BIGINT}
	</select>
	
</mapper>