<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penglecode.gulubala.common.model.MusicDanmuMapper">
	
	<insert id="insertMusicDanmu" parameterType="MusicDanmu" statementType="PREPARED" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO danmu(
			id,
			songId,
			userId,
			content,
			showAt,
			createdAt
		) VALUES (
			#{id, jdbcType=BIGINT},
			#{musicId, jdbcType=BIGINT},
			#{userId, jdbcType=BIGINT},
			#{content, jdbcType=VARCHAR},
			#{showTime, jdbcType=VARCHAR},
			#{createTime, jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="getMusicDanmuList" parameterType="java.util.Map" statementType="PREPARED" resultType="MusicDanmu">
		SELECT a.id 				id,
			   a.songId				musicId,
			   a.userId				userId,
			   a.content			content,
			   DATE_FORMAT(a.showAt, '%Y-%m-%d %T')	showTime,
			   DATE_FORMAT(a.createdAt, '%Y-%m-%d %T')	createTime
		  FROM danmu a
		 WHERE a.songId = #{musicId, jdbcType=BIGINT}
		 ORDER BY a.id ASC
		 LIMIT #{offset, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER}
	</select>
	
	<select id="getMusicDanmuListCount" parameterType="java.util.Map" statementType="PREPARED" resultType="java.lang.Integer">
		SELECT COUNT(1)
		  FROM danmu a
		 WHERE a.songId = #{musicId, jdbcType=BIGINT}
	</select>
	
</mapper>