<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penglecode.gulubala.common.model.UserMapper">
	
	<insert id="insertUser" parameterType="User" statementType="PREPARED" useGeneratedKeys="true" keyProperty="userId">
		INSERT INTO U_USER(
			USER_ID,
			MOBILE_PHONE,
			EMAIL,
			PASSWORD,
			REGISTER_TYPE,
			USER_GRADE,
			STATUS,
			LAST_LOGIN_TIME,
			CREATE_TIME
		) VALUES (
			#{userId, jdbcType=BIGINT},
			#{mobilePhone, jdbcType=VARCHAR},
			#{email, jdbcType=VARCHAR},
			#{encryptedPassword, jdbcType=VARCHAR},
			#{registerType, jdbcType=INTEGER},
			#{userGrade, jdbcType=VARCHAR},
			#{status, jdbcType=INTEGER},
			#{lastLoginTime, jdbcType=VARCHAR},
			#{createTime, jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="getUserById" parameterType="java.lang.Long" statementType="PREPARED" resultType="User">
		SELECT a.USER_ID			userId,
			   a.USER_NAME			userName,
			   a.MOBILE_PHONE		mobilePhone,
			   a.EMAIL				email,
			   a.PASSWORD			encryptedPassword,
			   a.REGISTER_TYPE		registerType,
			   a.USER_GRADE			userGrade,
			   a.AUTHENTICATED		authenticated,
			   a.PRICE_NUM			priceNum,
			   a.INTEGRAL_NUM		integralNum,
			   a.LOGIN_TIMES		loginTimes,
			   a.REMARK				remark,
			   a.QQ_NUMBER			qqNumber,
			   a.USER_ICON			userIcon,
			   a.SEX				sex,
			   a.STATUS				status,
			   DATE_FORMAT(a.LAST_LOGIN_TIME, '%Y-%m-%d %T')	lastLoginTime,
			   DATE_FORMAT(a.CREATE_TIME, '%Y-%m-%d %T')	createTime
		  FROM U_USER a
		 WHERE a.USER_ID = #{userId, jdbcType=BIGINT}
	</select>
	
	<select id="getThinUserById" parameterType="java.lang.Long" statementType="PREPARED" resultType="User">
		SELECT a.USER_ID			userId,
			   a.USER_NAME			userName,
			   a.MOBILE_PHONE		mobilePhone,
			   a.EMAIL				email,
			   a.PASSWORD			encryptedPassword,
			   a.REGISTER_TYPE		registerType,
			   a.AUTHENTICATED		authenticated,
			   a.STATUS				status,
			   DATE_FORMAT(a.CREATE_TIME, '%Y-%m-%d %T')	createTime
		  FROM U_USER a
		 WHERE a.USER_ID = #{userId, jdbcType=BIGINT}
	</select>
	
	<select id="getUserByEmail" parameterType="java.lang.String" statementType="PREPARED" resultType="User">
		SELECT a.USER_ID			userId,
			   a.USER_NAME			userName,
			   a.MOBILE_PHONE		mobilePhone,
			   a.EMAIL				email,
			   a.PASSWORD			encryptedPassword,
			   a.REGISTER_TYPE		registerType,
			   a.USER_GRADE			userGrade,
			   a.AUTHENTICATED		authenticated,
			   a.PRICE_NUM			priceNum,
			   a.INTEGRAL_NUM		integralNum,
			   a.LOGIN_TIMES		loginTimes,
			   a.REMARK				remark,
			   a.QQ_NUMBER			qqNumber,
			   a.USER_ICON			userIcon,
			   a.SEX				sex,
			   a.STATUS				status,
			   DATE_FORMAT(a.LAST_LOGIN_TIME, '%Y-%m-%d %T')	lastLoginTime,
			   DATE_FORMAT(a.CREATE_TIME, '%Y-%m-%d %T')	createTime
		  FROM U_USER a
		 WHERE a.EMAIL = #{email, jdbcType=VARCHAR}
	</select>
	
	<select id="getUserByMobile" parameterType="java.lang.String" statementType="PREPARED" resultType="User">
		SELECT a.USER_ID			userId,
			   a.USER_NAME			userName,
			   a.MOBILE_PHONE		mobilePhone,
			   a.EMAIL				email,
			   a.PASSWORD			encryptedPassword,
			   a.REGISTER_TYPE		registerType,
			   a.USER_GRADE			userGrade,
			   a.AUTHENTICATED		authenticated,
			   a.PRICE_NUM			priceNum,
			   a.INTEGRAL_NUM		integralNum,
			   a.LOGIN_TIMES		loginTimes,
			   a.REMARK				remark,
			   a.QQ_NUMBER			qqNumber,
			   a.USER_ICON			userIcon,
			   a.SEX				sex,
			   a.STATUS				status,
			   DATE_FORMAT(a.LAST_LOGIN_TIME, '%Y-%m-%d %T')	lastLoginTime,
			   DATE_FORMAT(a.CREATE_TIME, '%Y-%m-%d %T')	createTime
		  FROM U_USER a
		 WHERE a.MOBILE_PHONE = #{mobilePhone, jdbcType=VARCHAR}
	</select>
	
</mapper>